<div id="chat-container" class="container d-flex flex-column" data-controller="chat">
  <turbo-frame id="chat-responses" class="flex-grow-1 overflow-auto p-3" data-chat-target="responses">
    <% if @chat.queries.any? %>
      <div class="chat-session">
        <h3><%= @chat.title %></h3>
        <% @chat.queries.each do |query| %>
          <div class="chat-response mb-3 d-flex flex-column">
            <div class="query-response-container">
              <p class="query alert alert-secondary text-end"><strong>Your Query:</strong> <%= query.content %></p>
              <p class="response alert alert-primary"><strong>Response:</strong> <%= query.response.content %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </turbo-frame>

  <div id="loading" class="text-center mt-3" data-chat-target="loading" style="display: none;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div id="query-form-container" class="mt-3">
    <%= render 'chats/form' %>
  </div>
</div>
