/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 #chat-container {
  display: flex;
  flex-direction: column;
}

#chat-responses {
  flex-grow: 1; /* Allow the responses to grow and take up available space */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding-bottom: 20px; /* Add padding to ensure space between the content and the ask bar */
}

#query-form-container {
  flex-shrink: 0; /* Prevent the ask bar from shrinking */
  background-color: #f8f9fa;
}

#loading {
  flex-shrink: 0; /* Prevent the loading spinner from shrinking */
}
